//Estilos del GS
//mensaje del todavia no estamos listos
.msjintro
    font-weight: bolder
    letter-spacing: .1em
    margin: 1em
    text-transform: uppercase
    font-family: helveltica
    font-size: 25px
//mesanje de seguirnos en las redes sociales
.mensajeintro
    text-align: center  
    width: 50%
    margin: 0 auto
    strong
        color: #cb6120  
    h4
        font-weight: bolder
//estilos de iconos de redes sociales
// color como naranja #cb6120
// color como rojo #b52344        
.iconos
    background: #b52344
    font-size: 20px
    padding: 8px
    border-radius: 150px
