//Estilos del GS
.msjintro
    font-weight: bolder
    letter-spacing: .1em
    margin: .5em

.mensajeintro
    text-align: center
    width: 50%
    margin: 0 auto
    strong
        color: #cb6120

